source "${SEAT_DISPLAY_DRIVER_CWD}"/source/seat_display_driver.env

printf "Starting with NX_WIDTH = $(printenv NX_WIDTH) & NX_HEIGHT = $(printenv NX_HEIGHT)\n"

printf "Debug mode = $(printenv DEBUG)\n"

if [ -z "${SEAT_DISPLAY_DRIVER_BUILD}" ]; then
    sudo -E make -C "${SEAT_DISPLAY_DRIVER_CWD}/source" install || { printf "Make install failed - Exiting ...\n"; exit 1; }
    export SEAT_DISPLAY_DRIVER_BUILD=$(date "+seat-display-driver-build-at-%Y/%e/%m")
else
    printf "Skip building/installing ... last build/install was on %s\n" "${SEAT_DISPLAY_DRIVER_BUILD}"
fi

sudo systemctl start instance-1-display.service
sudo systemctl start instance-2-display.service